IDD_CSV_TO_JSON_DIALOG DIALOGEX 0, 0, 316, 149
STYLE DS_SETFONT | DS_MODALFRAME | DS_FIXEDSYS | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "CSV to JSON"
FONT 8, "MS Shell Dlg", 400, 0, 0x1
BEGIN
    LTEXT           "请选择格式",IDC_FORMAT_TEXT,7,7,50,8
    COMBOBOX        IDC_FORMAT_COMBO,7,19,100,8,CBS_DROPDOWNLIST | CBS_SORT | WS_VSCROLL | WS_TABSTOP
    LTEXT           "链接",IDC_LINK,7,35,50,8
END